# Copyright (C) 2024 Intel Corporation

# Pylint config containing overrides
[BASIC]
good-names = iN, logN

[MESSAGES CONTROL]
# W0511 are TODO
disable=W0511

# pydantic and pylint don't always play nice
# apparently due to libraries with compiled code
[MASTER]
extension-pkg-allow-list=pydantic

[CLASSES]
# Minimum number of public methods for a class (see R0903).
min-public-methods = 0

[FORMAT]
# `black` takes care of our line lengths, but just in case it gets ridiculous
max-line-length=230
