# Input files
**.high
data/

# Vim artifacts
**.sw?

# Python artifacts
__pycache__/
.pytest_cache
*.pyc
*.pyo
**/venv

# Fuzzing artifacts
**/CORPUS/*
!**/CORPUS/corpus.data
**/.coverage
**/crash*
**/results
